{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "filenames"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "default",
        "format": ["camelCase", "PascalCase"],
        "leadingUnderscore": "allow",
        "trailingUnderscore": "allow"
      },
      {
        "selector": "variable",
        "format": ["camelCase", "UPPER_CASE"]
      },
      {
        "selector": ["class", "typeLike", "typeParameter", "enum"],
        "format": ["PascalCase"]
      },
      {
        "selector": ["function"],
        "format": ["camelCase"]
      },
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]",
          "match": true
        }
      },
      {
        "selector": ["memberLike", "enumMember"],
        "format": ["camelCase", "PascalCase", "UPPER_CASE", "snake_case"],
        "leadingUnderscore": "allow",
        "trailingUnderscore": "allow"
      }
    ],
    "filenames/match-regex": ["error", "^[a-z]+([A-Z][a-z]+)*$", true]
  },
  "overrides": [
    {
      "files": ["*.d.ts", "*.spec.ts", "*.config.ts", "*.test.ts"],
      "rules": {
        "filenames/match-regex": "off"
      }
    },
    {
      "files": ["tests/**/*"],
      "env": {
        "jest": true
      }
    }
  ]
}
